@font-face {
    font-family: 'Faro';
    src: url('./Faro-DisplayLucky.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Faro';
    src: url('./Faro-BoldLucky.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Faro';
    src: url('./Faro-SemiBoldLucky.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Faro';
    src: url('./Faro-RegularLucky.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}